.content-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header-wrapper {
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.32);
}

.inner-wrapper {
    padding: 1rem;
}